/* Sticky footer implementation */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body > #wrapper {
   min-height:100%;
   position:relative;
}
body > #wrapper > #body {
   padding-bottom:60px;   /* Height of the footer */
}
body > #wrapper > #footer {
   position:absolute;
   bottom:0;
   width:100%;
}